body {
    background-image: url("assets/homework2/background.png");
    font-size: 12pt;
    font-family: Verdana, Tahoma, Arial;
    margin: 0 auto;
}

#banner {
    background-image: url("assets/homework2/bannerbg.png");
    text-align: center;
}

#main-section {
    width: 800px;
    border: 4px gray solid;
    border-radius: 23px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#overall-rating {
    background-image: url("assets/homework2/rbg.png");
    width: 100%;
    height: 83px;
    border-radius: 20px 0 0 0;
    display: flex;
    align-items: center;
}

#overal-score {
    font-weight: bold;
    font-size: 48pt;
    color: #FF0000;
}

#feedback-section {
    margin: 0 auto;
    padding: 10px 0;
}

.feedback-section-body {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    font-size: 8pt;
}

#feedback {
    width: 70%;
}

.feedback-owner {
    font-style: italic;
    overflow: hidden;
}

#overview {
    width: 30%;
    background-color: #A2B964;
    vertical-align: top;
    font-size: 9pt;
    border-radius: 0 20px 20px 0 ;
}

dt {
    font-weight: bold;
}

dl {
    padding: 10px;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, Arial;
    text-shadow: 3px 3px #999999;
    text-align: center;
}

.feedback-body {
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0 10px;
    overflow: hidden;
}

#validator {
    text-align: right;
}

#navigation {
    text-align: center;
}

#poster {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    border-radius: 0 20px 0 0;
}

#rotten {
    border-radius: 20px;
}

.feedback-photo {
    float: left;
}